.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9DBEBB;
    position: relative;
    overflow: hidden;
}

.circle-reversed-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 23vw;
    height: 95vh;
    z-index: 0;
}

.info {
    margin-left: 5vw;
    display:flex;
    flex-direction: column;
    align-items: left;
    margin-top: 0vh;
    text-align: left;
}

.div-info {
    width: 50vw;
    max-width: 50vw;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    color: #000000;
    margin: 0 0 0rem 0;
    margin-bottom: 2.3vh;
}

@media (max-width: 768px) { 
    .info {
        margin-top: 10vh;
        margin-left: 0vw;
        align-items: center;
        text-align: center;
    }

    .div-info {
        width: 75vw;
        max-width: 75vw;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-bottom: 4vh;
    }

    .circle-reversed-background {
        display: none;
    }
}