.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9DBEBB;
    position: relative;
    overflow: hidden; 
}

@media (max-width: 768px) {
    .circle-background {
        display: none;
    }
}

