.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9DBEBB;
    position: relative;
    overflow: hidden; 
}

.welcome-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.half-circle-background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 23vw;
    height: 95vh;
    z-index: 0;
}

.underline {
    margin: 0 auto;
    display: block;
    transform: rotate(-1deg);
}

.underline path {
    stroke: #F4E9CD;
    stroke-width: 5; /* Line thickness */
    stroke-linecap: round; /* Rounded ends */
    stroke-dasharray: 0; /* To be dynamically calculated */
    stroke-dashoffset: 0; /* Initially hidden */
}

#welcome-text-laptop {
    display: block;
}

.welcome-text {
    width: 600px;
    max-width: 80vw;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 1.4;
    color: #000000;
    margin: 0 0 0rem 0;
}

#welcome-text-phone {
    display: none;
}

#profile-image {
    border-radius: 50%;
    flex: 0 1 180px;
    max-width: 25vw; 
    max-height: 25vw;
    width: 25vw; 
    height: 25vw;
    margin-left: -20vw;
    margin-right: 3vw;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.span-name {
    color: #F4E9CD;
}

@media (max-width: 768px) { 
    .underline {
        width: 215px;
        order: 2;
        margin-left: 30vw;
    }

    .underline path {
        stroke-width: 10;
    }

    .half-circle-background {
      display: none;
    }

    #profile-image {
      order: 3;
      flex: 0 1 auto; /* flex-grow, flex-shrink, flex-basis */
      max-width: 70vw; 
      max-height: 70vw; 
      width: 70vw; 
      height: 70vw;
      margin-left: 4vw;
    }
  
    #welcome-text-phone {
      margin-top: 6vh;
      display: block;
      visibility: visible;
      text-align: center; 
      font-size: 10vw; 
      order: 1;
    }

    #welcome-text-laptop {
      display: none;
    }

    .home-section {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  
    .welcome-info {
      gap: 1rem;
      flex-direction: row;
      justify-content: center;
      gap: 0;
    }
  }
  